<div class="container p-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card text-center">
                <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
                    Búsqueda
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group row">
                            <label for="staticEmail" class="col-md-2 col-form-label">Marca</label>
                            <select class="form-control col-md-3" name="sMarca" (change)="comboMarca()" [(ngModel)]="filter.sMarca">
                                <option value="">--Seleccione marca--</option>
                                <option *ngFor="let marca of marcas">{{marca.sMarca}}</option>
                            </select>
                            <label for="staticEmail" class="col-md-2 col-form-label">Genero</label>
                            <select class="form-control col-md-3" name="sGenero" (change)="comboGenero()" [(ngModel)]="filter.sGenero">
                                <option value="">--Seleccione genero--</option>
                                <option *ngFor="let genero of generos" >{{genero.sGenero}}</option>
                            </select>
                        </div>
        
                        <div class="form-group row">
                            <label for="staticEmail" class="col-md-2 col-form-label">Tipo</label>
                            <select class="form-control col-md-3" name="sTipo" [(ngModel)]="filter.sTipo">
                                <option value="">--Seleccione tipo--</option>
                                <option *ngFor="let tipo of tipos" value={{tipo.sTipo}}>{{tipo.sTipo}}</option>
                            </select>
                            <label for="staticEmail" class="col-md-2 col-form-label">Talla</label>
                            <select class="form-control col-md-3" name="sTalla" [(ngModel)]="filter.sTalla">
                                <option value="">--Seleccione talla--</option>
                                <option *ngFor="let talla of tallas" value={{talla.sDescripcion}}>{{talla.sDescripcion}}</option>
                            </select>
                        </div>
        
                        <div class="form-group row">
                            <div class="col-md-8"></div>
                            <div class="col-md-2">
                                <button class="btn btn-info btn-block" (click)="filtrar()">
                                    Buscar
                                </button>        
                            </div>        
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<app-catalogo></app-catalogo>