<div *ngIf="_carritoService.longitud == 0"
    style="width: 100%; height: calc(100vh - 92px); display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <img src="assets/empty-cart.png" width="250px" height="250px">
    <div style="font-size: 20px; margin-top: 15px;">
        El carrito de compras está vacío y triste.
    </div>
</div>

<div *ngIf="_carritoService.longitud != 0" class="container">

    <div class="mt-5 mb-5">
        <div style="font-size: 34px; font-weight: 300;">
            Tu carrito
        </div>
        <div style="font-size: 18px; font-weight: 300; color: rgb(121, 121, 121);">
            Usted tiene {{_carritoService.longitud }} objetos en su carrito.
        </div>
    </div>

    <div class="mt-1" *ngFor="let item of productos; let i = index">

        <div style="display: flex; height: 110px; padding: 0px 20px 0px 20px; ">

            <div style="width: 10%; display: flex; justify-content: flex-start; align-items: center;">
                <img [src]="item.sFoto" width="80px">
            </div>

            <div
                style="flex-direction: column; display: flex; align-items: flex-start; justify-content: center; width: 50%;">
                <span style="font-weight: 600;">{{item.sDescripcion}} </span>
                <span style="font-size: 12px; font-weight: 300;">SKU: {{item.idProducto}}  (S/
                    {{item.nPrecioUnitario | number: '1.2-2'}})</span>
            </div>

            <div class="centradoVertical" style="width: 15%;">
                <button mat-button (click)="reducir(i)"> - </button>
                <div style="border: 1px solid #ccc; width: 40px; text-align: center; padding: 6px; border-radius: 4px;">
                    {{item.cantidad}}
                </div>
                <button mat-button (click)="aumentar(i)"> + </button>
            </div>

            <div class="centradoVertical" style="width: 15%;">
                <mat-form-field style="width: 65%;">
                    <mat-label>Talla</mat-label>
                    <mat-select [(ngModel)]="item.tallaSeleccionada.nIdTalla">
                        <mat-option *ngFor="let talla of item.lTallas" [value]="talla.nIdTalla">
                            {{talla.sDescripcion}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div
                style="display: flex; align-items: flex-end; justify-content: center; flex-direction: column; width: 10%;">
                <span style="font-weight: 600; font-size: 19px;">S/
                    {{item.nPrecioUnitario * item.cantidad| number: '1.2-2'}}</span>
                <a style="color: rgb(90, 206, 167); text-decoration: underline; cursor: pointer;">Ir al producto</a>
                <span style="font-size: 12px; color: firebrick; cursor: pointer;"
                    (click)="eliminarItem(item, i)">Eliminar</span>
            </div>
        </div>

    </div>

    <mat-divider class="mt-2"></mat-divider>

    <div style="display: flex; justify-content: center; align-items: flex-end; flex-direction: column;"
        class="mt-4 mb-5">
        <div style="width: 400px; display: flex;">
            <div style="display: flex; flex-direction: column; justify-content: center; align-items: flex-start;">
                <span style="font-weight: 600;">Orden Subtotal</span>
                <span style="font-size: 14px; color: rgb(102, 102, 102);">{{_carritoService.longitud}} items</span>
            </div>
            <span style="flex:  1 1 auto;"></span>
            <div style="display: flex; justify-content: end; align-items: center; font-size: 25px; font-weight: 500;">
                S/ {{montoTotal | number: '1.2-2'}}
            </div>
        </div>
        <div class="mt-2">
            <button mat-raised-button (click)="pagar()"
                style="width: 400px; font-size: 18px; padding: 5px; background-color: #2C3E50; color: #fff;">
                CONFIRMAR PAGO
            </button>
        </div>
    </div>


</div>