*:focus {
    outline: none;
}

mat-form-field {
    width: 80%;
}

form>button {
    width: 80%;
    height: 40px;
    border-radius: 15px;
    background-color: #2C3E50;
    color: whitesmoke;
    transition: all 0.3s ease-in-out;
}

form>button:disabled {
    width: 80%;
    height: 40px;
    border-radius: 15px;
    background-color: #2C3E50;
    opacity: 0.2;
    color: whitesmoke;
}

form>button:hover {
    background-color: black;
}

form>button:hover:disabled {
    width: 80%;
    height: 40px;
    border-radius: 15px;
    background-color: #2C3E50;
    opacity: 0.2;
    color: whitesmoke;
}

.marcas>i {
    font-size: 30px;
    margin-right: 10px;
    cursor: pointer;
}