/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.centradoVertical {
    display: flex;
    align-items: center;
    justify-content: center;
}

.material-icons{
    margin: 0px 4px 3px 0px;
}